* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-image: url(../../../assets/bgimg/plantpediapage.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.mainDiv {
    height: 90vh;
}

.form-styling {
    width: 35vw;
    height: 50vh;
    padding: 1.8vw;
    margin-top: 5vw;
    margin-left: 4vw;
    border-radius: .5rem;
    box-shadow: 0 10px 30px black;
}


.input-box {
    display: block;
    width: 25vw;
    height: 5vh;
    margin-left: 3vw;
    border-style: none;
    border-radius: 10px;
    background-color: #8978a3;
    color: whitesmoke;
}

h1,
h2,
h3 {
    padding: 0.5vw;
}

.headers {
    width: 27vw;
    color: whitesmoke;
    margin-top: 7vw;
    margin-left: -5vw;
    padding: 3vw;
}

.label-text {
    padding: 0.5vw;
    color: whitesmoke;
    margin-left: 3vw;
}

.form-group {
    padding: 0.5vw;
}

.secondary {
    display: inline-flex;
    margin-left: 23vw;
    margin-top: 5vw;
}

.btn-pass {
    width: 10vw;
    height: 5vh;
    margin-top: 26vw;
    margin-left: -22vw;
    color: whitesmoke;
}

.sub-btn {
    width: 30%;
    height: 5vh;
    margin-left: 11vw;
    margin-top: 1.5vw;
    color: whitesmoke;
    background-color: #83a46f;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: .5rem;
}

.sub-btn:hover {
    background-color: #8978a3;
    transition: all 0.4s;
    opacity: .9;
}

@media (max-width: 770px) {
    .mainDiv{
        height: 71vh;
    }
    body{
        background-size: cover;
    }
    .form-styling{
        width: 35vh;
        height: 40vh;
        margin-top: 22vw;
    }
    .headers{
        margin-top: 30vw;
        margin-left: -14vw;
        padding: 2vw;
    }
    .input-box{
        width: 35vw;
        margin-left: 4vw;
    }
    .label-text{
        display: block;
        margin-left: 4vw;
    }
    .sub-btn{
        margin-left: 16vw;
    }
    
.form-group {
    margin-top: 3vw;
}

}

@media (max-width: 377px) {
    .mainDiv{
        height: 72.3vh; 

    }
    body{
        background-size: cover;
    }
    .form-styling{
        width: vh;
        height: 40vh;
        margin-top: 40vw;
        margin-left: -10vw;
    }
    .headers{
        display: none;
    }
    input{
        width: 63vw;
        margin-left: 4vw;
    }
    label{
        display: block;
        margin-left: 4vw;
    }
    .sub-btn{
        margin-left: 25vw;
    }
    
.form-group {
    margin-top: 5vw;
}
}