/* * {
  font-family: 'Montserrat', sans-serif;
  
} */

.ce-chat-list {
  background-color: rgb(240, 240, 240) !important;
  border-radius: 8px solid #cabcdc !important;
  font-family: 'Montserrat', sans-serif !important;
}

.ce-chats-container {
  background-color: lavender !important;
  border-radius: 15px !important;
  /* border: 8px solid #7554a0 !important; */
  
  
}

.ce-active-chat-card {
  background-color: #7554a081 !important;
  /* border: 8px solid #cabcdc !important; */
  padding: 1.5rem !important;
  border-radius: 8px  !important;
}
/* 
small text on the chat feed title bar */
.ce-chat-subtitle-text {
  color: #595959 !important;
  font-family: 'Montserrat', sans-serif !important;
}


.ce-chat-form-container {
  padding-bottom: 20px !important;
  background-color: lavender !important;
  color: #57744bf6;
  font-weight: 700 !important;
  font-size: 2rem !important;
}

.ce-chat-form-container > div > div > div {
  color: #57744bf6;
  font-weight: 800 !important;
  font-size: 2rem !important;
  font-family: 'Raleyway', sans-serif !important;
}
.ce-text-input {
  border-radius: 6px !important;
  /* border: 1px solid #3b2a50 !important; */
  font-family: 'Montserrat', sans-serif !important;
  background-color: #7554a0b2 !important;
  color: whitesmoke;
  padding: 1.5rem !important;
}

/* add chat button on chats list left*/
.ce-primary-button {
  border-radius: 10px !important;
  background-color: #7554a0 !important;
  position: relative;
  bottom: 1px;
  
}

/* button on the settings list right */
.ce-danger-button {
  background-color: rgb(241, 241, 241) !important;
  border-radius: 15px !important;
  font-family: 'Montserrat', sans-serif !important;
}
/* settings list right background */
.ce-settings {
  background-color: #83a46f94 !important;
  /* width: 180%;
  border-radius: 5rem !important; */
}

/* settings list right top avatar and name of chat*/
.ce-chat-settings-container {
  padding-top: 52px !important;
  font-family: 'Montserrat', sans-serif !important;
} 

.ce-person-title-container,
.ce-photo-title-container, 
#ce-options-drop-down {
  background-color: #57744b91 !important;
  color: whitesmoke;
  border-radius: 7px  !important;
  font-family: 'Montserrat', sans-serif !important;
}


/* CUSTOM FEED */
.ce-chat-feed-container {
  background-color: #c5c5c460!important;
  font-family: 'Montserrat', sans-serif !important;
  
}
.chat-feed {
  height: 100%;
  width: 100%;
  overflow: scroll;
  background-color: #701515a9 !important;
  
}
/* 
navbar on the chat feed */
.ce-chat-title-container {
  width: calc(100% - 36px);
  padding: 18px;
  text-align: center;
  background-color: #c5c5c473!important;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 500 !important;
}
.ql-toolbar, .ql-snow {
  background-color:#c5c5c457!important;
  border-radius: .2rem !important;
  width: 98.3% !important; 
}
#ce-add-username-input{
  background-color: rgb(241, 241, 241);
  color: whitesmoke !important;
}
/* .ce-chat-list-mobile-option, .ce-chat-settings-mobile-option  {
  background-color:#c5c5c457!important;
  position: relative !important;

} */
.ce-chat-title-text {
  color:#6d52a5 ;
  font-weight: 800;
  font-size: 1.5rem;

}

.chat-subtitle {
  color: #423064;
  font-weight: 600;
  font-size: 18px;
  padding-top: 4px;
}


.ce-my-message-bubble {
  background-color: #423064dc !important;
  border-radius:  1.8rem 0rem 2rem 1rem!important;
  margin-right: .7rem !important;
  
}

.ce-their-message-bubble {
  background-color: #57744b91 !important;
  border-radius:  0rem 1.8rem 1rem 2rem!important;
  /* margin-left: .5rem !important; */

}

.message-row {
  float: left;
  width: 100%;
  display: flex;
}

.message-block {
  width: 100%;
  display: inline-block;
}

.message-avatar {
  width: 44px;
  height: 44px;
  border-radius: 22px;
  color: white;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 48px;
}
#ce-send-message-button {
  background-color: #7554a0 !important;
  margin-right: .9rem !important;
  /* padding: 0.5rem 1.5rem !important;
  margin-bottom: 15rem !important; */
}

.message {
  padding: 12px;
  font-size: 16px;
  border-radius: 6px;
  max-width: 60%;
}

.message-image {
  margin-right: 50px;
  object-fit: cover;
  border-radius: 6px;
  height: 20vw;
  width: 20vw;
  max-height: 200px;
  max-width: 200px;
  min-height: 100px;
  min-width: 100px;
}

.read-receipts {
  position: relative;
  bottom: 6px;
}

.read-receipt {
  width: 15px;
  height: 13px;
  border-radius: 13px;
  margin: 1.5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px;
}


.ce-message-form-container {
  position: absolute;
  bottom: 0px;
  width: calc(100% - 15px);
  border-radius: 6px;
  padding: 8px;
  background-color: #c5c5c425 !important;
}
/* 
.message-form {
  overflow: hidden;
  border-radius: 6px;
  border: 2px solid #3b2a50;
  background-color: white;
} */
/* 
.message-input {
  height: 40px;
  width: calc(100% - 132px);
  background-color: white;
  border: 1px solid white;
  padding: 0px 18px;
  outline: none;
  font-size: 15px;
} */

/* .image-button {
  cursor: pointer;
  padding: 0px 12px;
  height: 100%;
} */



.chats-page {
    position: relative;
    display: inline-block;
    justify-content: center;
    align-items: center;
    top: 50px;
    width: 85%;
    height: 100vh;
    overflow: hidden ;
    margin-left: 100px !important;
    border-radius: 1rem  !important;
  }

  .logo-tab {
    position: absolute;
    left: 22px;
    top: 19px;
    font-size: 32px;
    font-weight: 700;
    color: white;
  }
  
  .logout-tab {
    position: absolute;
    top: 22px;
    right: 22px;
    color: white;
    cursor: pointer;
  }

  
    ::-webkit-scrollbar {
      width: 12px;
      z-index: -1;
  }
  ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.363); 
      -webkit-border-radius: 10px;
      border-radius: 10px;
      z-index: -1;
  }
  ::-webkit-scrollbar-thumb {
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background:#4230649a;
      box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
      z-index: -1;
  }
  ::-webkit-scrollbar-thumb:window-inactive {
    background:#6e52a5b4;
    z-index: -1;
  }














  @media (max-width: 768px) {
    .nav-bar {
      width: 100%;
      height: 85px;
      background-color: #83a46f;
    }
    .chats-page{
      top:0;
    }
  }
  @media (max-width: 480px) {
    .nav-bar {
      width: 100%;
      height: 75px;
      background-color: #83a46f;
    }
  }
  
  