
.ce-chat-list {
  background-color: rgb(240, 240, 240) !important;
  border-radius: 8px solid #cabcdc !important;
  font-family: 'Montserrat', sans-serif !important;
}

.ce-chats-container {
  background-color: lavender !important;
  border-radius: 15px !important;
}

.ce-active-chat-card {
  background-color: #7554a081 !important;
  padding: 1.5rem !important;
  border-radius: 8px  !important;
}

/* small text on the chat feed title bar */
.ce-chat-subtitle-text {
  color: #616161 !important;
  font-family: 'Montserrat', sans-serif !important;
}

.ce-chat-form-container {
  padding-bottom: 20px !important;
  background-color: lavender  !important;
  color: #57744bf6;
  font-weight: 700 !important;
  font-size: 2rem !important;
}

.ce-chat-form-container > div > div > div {
  color: #83a46f;
  font-weight: 800 !important;
  font-size: 1.8rem !important;
  font-family: 'Raleyway', sans-serif !important;
}
.ce-text-input {
  border-radius: 6px !important;
  font-family: 'Montserrat', sans-serif !important;
  background-color: #7554a0af !important;
  color: whitesmoke;
  padding: 1.5rem !important;
}

/* add chat button on chats list left*/
.ce-primary-button {
  border-radius: 10px !important;
  background-color: #7554a0 !important;
  position: relative;
  bottom: 1px;
  
}

/* button on the settings list right */
.ce-danger-button {
  background-color: rgb(241, 241, 241) !important;
  border-radius: 15px !important;
  font-family: 'Montserrat', sans-serif !important;
}
/* settings list right background */
.ce-settings {
  background-color: #83a46f94 !important;
}
.ce-chat-settings-mobile-option > div > div > div {
  background-color: #83a46f;
  
}
.ce-chat-settings-mobile-option > div > div > div > div {
  color:whitesmoke;
  font-family: 'Raleway', sans-serif !important;
}
.anticon-close {
  color: #7554a0;
}
/* settings list right top avatar and name of chat*/
.ce-chat-settings-container {
  padding-top: 52px !important;
  font-family: 'Montserrat', sans-serif !important;
  
} 

.ce-person-title-container,
.ce-photo-title-container, 
#ce-options-drop-down {
  background-color: #57744b91 !important;
  color: whitesmoke;
  border-radius: 7px  !important;
  font-family: 'Montserrat', sans-serif !important;
}


/* CUSTOM FEED */
.ce-chat-feed-container {
  background-color: #c5c5c460!important;
  font-family: 'Montserrat', sans-serif !important;
}
.chat-feed {
  height: 100%;
  width: 100%;
  overflow: scroll;
  background-color: #701515a9 !important;
  
}
/* 
navbar on the chat feed */
.ce-chat-title-container {
  width: calc(100% - 36px);
  padding: 18px;
  text-align: center;
  background-color: #c5c5c473!important;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 500 !important;
}
.ql-toolbar, .ql-snow {
  background-color:#c5c5c457!important;
  border-radius: .2rem !important;
  width: 98.3% !important; 
}
#ce-add-username-input{
  background-color: rgb(241, 241, 241);
  color: whitesmoke !important;
}

.ce-chat-title-text {
  color:#6d52a5 ;
  font-weight: 800;
  font-size: 1.5rem;
}

.chat-subtitle {
  color: #423064;
  font-weight: 600;
  font-size: 18px;
  padding-top: 4px;
}

.ce-my-message-bubble {
  background-color: #423064dc !important;
  border-radius:  1.8rem 0rem 2rem 1rem!important;
  margin-right: .7rem !important;
}

.ce-their-message-bubble {
  background-color: #57744b91 !important;
  border-radius:  0rem 1.8rem 1rem 2rem!important;
}

.message-row {
  float: left;
  width: 100%;
  display: flex;
}

.message-block {
  width: 100%;
  display: inline-block;
}

.message-avatar {
  width: 44px;
  height: 44px;
  border-radius: 22px;
  color: white;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 48px;
}
#ce-send-message-button {
  background-color: #7554a0 !important;
  margin-right: .9rem !important;
}

.message {
  padding: 12px;
  font-size: 16px;
  border-radius: 6px;
  max-width: 60%;
}

.message-image {
  margin-right: 50px;
  object-fit: cover;
  border-radius: 6px;
  height: 20vw;
  width: 20vw;
  max-height: 200px;
  max-width: 200px;
  min-height: 100px;
  min-width: 100px;
}

.read-receipts {
  position: relative;
  bottom: 6px;
}

.read-receipt {
  width: 15px;
  height: 13px;
  border-radius: 13px;
  margin: 1.5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px;
}

.ce-message-form-container {
  position: absolute;
  bottom: 0px;
  width: calc(100% - 15px);
  border-radius: 6px;
  padding: 8px;
  background-color: #c5c5c425 !important;
}

  .chats-page {
    position: relative;
    top: 45px;
    width: 85%;
    overflow: hidden ;
    margin-left: 105px !important;
    border-radius: 1rem  !important;
  }
  
  .nav-bar-main {
    width: 100%;
    height: 70px;
    background-color: #7e66a3;
  }

  .logo-tab {
    position: absolute;
    left: 22px;
    top: 20px;
    font-size: 32px;
    font-weight: 700;
    color: white;
    font-family: 'Raleyway', sans-serif !important;
  }
  .logout-text{
    position: absolute;
    top: 7px;
    right: 37px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif !important;
  }
  .logout-tab {
    position: absolute;
    top: 20px;
    right: 22px;
    color: white;
    cursor: pointer;
  }

  ::-webkit-scrollbar {
      width: 12px;
      z-index: -1;
  }
  ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.363); 
      -webkit-border-radius: 10px;
      border-radius: 10px;
      z-index: -1;
  }
  ::-webkit-scrollbar-thumb {
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background:#4230649a;
      box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
      z-index: -1;
  }
  ::-webkit-scrollbar-thumb:window-inactive {
    background:#6e52a5b4;
    z-index: -1;
  }


/* LOGIN PAGE */
  
#login-page {
    height: 90vh;
    width: 100vw;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#login-card {
  padding-top: 36px;
  padding-bottom: 46px;
  width: 40%;
  text-align: center;
  border: 1px solid whitesmoke;
  border-radius: 15px;
  background: #392357a6;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 26px );
  -webkit-backdrop-filter: blur( 26px );
  
}

.text-chat {
  font-family: 'Montserrat', sans-serif !important;
  color: white;
  text-shadow: 0  15px 7px rgb(0, 0, 0); 
  font-size: 2.5rem;
  font-weight: 600;
}

.login-button {
  cursor: pointer;
  color: white;
  padding: 12px 0 12px 0;
  border-radius: 7px;
  display: inline-block;
  width: 50%;
  font-family: 'Montserrat', sans-serif !important;
}

.facebook {
  background-color: #3b5998;
}

.facebook:hover {
  background-color: #2e467a;
  transition: all 0.5s;
}

.google {
  background-color: #4285f4;
}

.google:hover {
  background-color: #164faa;
  transition: all 0.5s;
}
#loading-container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgb(255, 255, 255, 0.22);
}

#loading-icon {
  font-size: 66px;
  position: relative;
  left: calc(50vw - 33px);
  top: calc(50vh - 22px);
}


.tracking-in-expand {
  padding-top: 10rem;
	-webkit-animation: tracking-in-expand 0.2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	animation: tracking-in-expand 0.2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

  @media (max-width: 768px) {
    .nav-bar-main {
      height: 9vh;
      background-color: #83a46f;
    }
    .chats-page{
      top: 0;
      width: 100%;
      height: 100vh !important;
      margin-left: 0px !important;
    }
    .logo-tab {
      left: 20px;
      top: 27px;
      font-size: 37px;
      font-weight: 700;
      font-family: 'Montserrat', sans-serif !important;
    }
    #login-card {
      width: 60%;
      
    }
    .text-chat {
      font-size: 3.2rem;
    }
    .login-button {
      width: 60%;
      padding: 13px 0 13px 0;
      font-size: 1.3rem;
    }
    .logout-text{
      top: 2px;
      right: 25px;
      font-size: 1.4rem;
    }
    .logout-tab {
      top: 15px;
      right: 27px;
    }
    .ce-chat-form-container > div > div > div {
      font-size: 1.8rem !important;
      font-family: 'Raleyway', sans-serif !important;
    }
  }
  @media (max-width: 480px) {
    .nav-bar-main {
      height: 11vh;
      background-color: #83a46f;
    }
    .chats-page{
      top: 0;
      width: 100%;
      height: 100vh !important;
      margin-left: 0px !important;
    }

    #login-card {
      width: 85%;
      padding: 45px 0 60px ;
      
    }
    .text-chat {
      font-size: 3.4rem;
    }
    .login-button {
      width: 75%;
      font-size: 1.3rem;
    }
    .logout-text{
      top: .5vh;
      /* right: 29px; */
      font-size: 1.1rem;
    }
    .logout-tab {
      top: 5px;
      right: 29px;
    }
    .logo-tab {
      left: 15px;
      top: 30px;
      font-size: 29px;
      font-weight: 700;
      font-family: 'Montserrat', sans-serif !important;
    }
  }
  
  