.each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 70vh;
    
}
.each-slide{
    overflow: hidden;
}

.slide-container{
    width: 100%;
    height: 100%;
    overflow: hidden;
}